#app{
  .home .bg {
    background:#D2C0B1 url("~@img/bg.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position:center;
    padding: 40px 0;

  }
  .home{
    .header{
      background-color: #fff;
      height:70px !important;
      padding:10px 0;
      .layout{
        height:100%;
        span{
          display: none;
        }
        div{
          height:100%;
          img{
            height:100% !important;
          }
        }
      }
      img{height:100% !important;}
    }
    .content{
      background-color: #fff !important;
      .title{
        color:#000 !important;
      }
      .tips{
        color:#525152 !important;
      }
      .retest{
        border-color:#E3E3E3 !important;
        color:#000 !important;
        &:hover{
          background:rgba(254,228,43,1) !important;
          color:#fff !important;
          border-color:rgba(254,228,43,1) !important;

        }
      }
    }
    .list{
      .item{
        .left{
          background-color:#F6F6F6 !important;
          color:#fff !important;
          .domain{
            color:#000 !important;
          }
        }
        .button{
          background:#FEE42B !important;
          color:#000 !important;
        }
      }
    }
  }
  .app-footer{
    background: #000!important;
    .info{
      color: #fff;
    }
    .govs .gov div{
      color: #fff;
    }
    .copyright{
      color: #fff;
    }
  }
}
