body,
html {
  background: #F8F8F8 !important;
  margin: 0;
}

#app {
  .home {
    .content {
      background-color: $--color-collect;
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      

      .tips {
        font-size: 14px;
        color: #525152;
        text-align: center;
        margin-bottom: 40px;
      }
    }

    .content .title {
      font-size: 28px;
      color: #394857;
      text-align: center;
      margin-bottom: 20px;
    }

    .content .list .item .button {
      color: #E0414A;
      background: none;
      border: 1px solid #E0414A;
    }

    .retest {
      background: #E0414A;
      border-radius: 4px;
      color: #fff;
      box-shadow: none !important;
      border: 0;
    }

    .header {
      background-color: #fff;

      >.layout div+img {
        display: none;
      }
    }
  }

  .bg {
    // background-color: $body-bg-1;
    padding: 60px 0;

    .content {
      border-radius: 4px;
      // border: 1px solid rgba(227, 227, 227, 1);

      .list .item .left {
        background-color: #fff;
        border:1px solid #ccc;
        time-3 {
          border-right-color: #ccc;
        }

        .domain {
          color: #999;
        }
      }
    }
  }
}

// .app-footer{
//     .info{

//     }
// }
.home .content .list .item .button {
  // background: #FD902A !important;
}

.retest {
  font-weight: 500;

  &:hover {
    // background: #FD902A !important;
  }
}
