#app {
  .home {
    .content .title {
      color: $--color-agent-nav-title;
    }
   .content .list .item .button{
     color: $--color-white;
   }
  }
  .bg {
    // background-color: $body-bg-1;
    background: url('./img/bg.png');
    padding: 60px 0;

    .content {
      border-radius: 4px;
      // border: 1px solid rgba(227, 227, 227, 1);
      .retest {
        border: 1px solid rgba(227, 227, 227, 1);
        color: #000000;
      }
      .list .item .left {
        background-color: #F6F6F6;
        .domain {
          color: #000000;
        }
      }
    }
  }
}
.app-footer .brands {
  border-bottom: none !important;
}
.home .content .list .item .button{
  background: #FD902A !important;
}
.retest{
  font-weight: 500;
  &:hover {
    background: #FD902A !important;
  }
}