.home .bg {
  background:#142337 url("~@img/bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 40px 0 80px;

}
.home{
  .header{
    height:70px !important;
    padding:10px 0;
    .layout{
      height:100%;
      div{
        height:100%;
        img{
          height:100% !important;
        }
      }
    }
    img{height:100% !important;}
  }
  .content{
    background-color: rgba(0,0,0,0.3) !important;
    .retest{
      border-color:rgba(255,255,255,0.4) !important;
      &:hover{
        background:$--color-primary !important;
        color:#fff !important;
      }
    }
  }
  .list{
    .item{
      .left{
        background-color:rgba(255,255,255,0.05) !important;
        color:#fff !important;
      }
      .button{
        background:#00A0B0 !important;
        color:#fff !important;
      }
    }
  } 
}

