#app {
  .home {
    .content .title {
      color: $--color-agent-nav-title;
    }
   .content .list .item .button{
     color: #fff;
     background:#FF7144;
   }
   .retest{
       background:linear-gradient(90deg, rgba(255, 139, 106, 1) 0%, rgba(255, 60, 58, 1) 100%);
       box-shadow:0px 4px 14px 0px rgba(255, 113, 68, 0.5);
   }
  }
  .bg {
    // background-color: $body-bg-1;
    background: url('./img/bg.png');
    padding: 60px 0;

    .content {
      border-radius: 4px;
      // border: 1px solid rgba(227, 227, 227, 1);
      .retest {
        
      }
      .list .item .left {
        background-color: #fff;
     border:1px solid #ccc;

        .domain {
          color: #666;
        }
      }
    }
  }
}
.app-footer .brands {
  border-bottom: none !important;
}
// .app-footer{
//     .info{

//     }
// }
.home .content .list .item .button{
  // background: #FD902A !important;
}
.retest{
  font-weight: 500;
  &:hover {
    // background: #FD902A !important;
  }
}