.home .bg {
  background-image: url("~@img/bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 40px 0 80px;

}
.home .header > .layout img:last-child {
  // height: 42px !important;
}

.list {
  .item {
    .left{
      background-color: #28273B !important;
    }
  }
}
